WGUMobileAppRegGarrett/WGUMobileAppRegGarrett/bin
WGUMobileAppRegGarrett/WGUMobileAppRegGarrett/obj
WGUMobileAppRegGarrett/WGUMobileAppRegGarrett.Android/bin
WGUMobileAppRegGarrett/WGUMobileAppRegGarrett.Android/obj